{% extends "base.html" %}

{% block content %}
<h1>Home</h1>

<p>Welcome to flashcaRds by R. Functionality so far: 
    <ul>
        <li>Register for an account. Must have an account to use this site. </li>
        <li>Login. If you are not logged in, you are not able to create any flashcard sets</li>
        <li>Logout. (For obvious reasons)</li>
        <li>Partially create a flashcard set, well you can add flashcards to the set but you can't use the set</li>
        <li>View your set. Not currently displaying anything but it will be soon.. watch this space. </li>
        <li>Coming soon: Create a set, and use it. </li>
        <li>Coming soon: Update sets, e.g., delete, change, add to set. </li>
    </ul>
</p>

{% endblock %}